// Place all the styles related to the photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag {
	position: absolute;
	opacity: 0;
}

.dummy {
	position: absolute;
	border: 1px solid;
	opacity: 0.3;
}

.tag:hover {
	border: 2px solid;
	background-color: white;
	opacity: 0.5;
}

.container {
	position: relative;
}
